<div class="jumbotron">
  <h1>Get Bitt</h1>
  <p class="lead">
    Application Guide
  </p>
</div>


<div class="jumbotron">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>General Information about Get Bitt</h2>
    </div>
  </div>
  <p>Get Bitt it's a Web Application designed to help it's users manage their virtual coins and plan their expenses</p>
</div>

<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>How can I use the app without registering?</h2>
    </div>
  </div>
  <p>Get Bitt is a membership based application.</p>
  <p>Free users can use only a small part of the application , the virtual coins converter</p>
  <h3>How to use the virtual coins converter as an unregistered user?</h3>
  <p>It's simple :</p>
  <img src="../images/Step1Free.png" />

  <img src="../images/ConvertFree.png" />
    <br><br>
  <div class="alert alert-dismissable alert-warning">
    <h4>Notice!</h4>
    <p>To be able to fully use the application you have to register!</p>
  </div>
    
    <h2>How can i register?</h2>
    <p>To register follow the steps described in the next image</p>
    <img src="../images/Register.png" />
    <h2>Congratiolations, you are now registered!</h2>
    <p>Now the entire content of the application is at your disposal. What's next?</p>
    <p>Oh, how to use the market you may ask? Well follow the images and you will figure it out.</p>
    <img src="../images/Market1.png">
    <img src="../images/Market2.png">
</div>

